@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
html{
    box-sizing: border-box;
    font-size: 18px;
}

@media only screen and (min-width: 720px){
html{
    font-size: 18px;
}
}

@media only screen and (min-width: 960px){
    html{
        font-size: 20px;
    }
    }

    @media only screen and (min-width: 1240px){
        html{
            font-size: 24px;
        }
        }
*,*::before,*::after {
    box-sizing: inherit;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
        /* border: 1px solid red; */
}
header{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #EC7211;
    height: 80px;
    color: #fff;
}

header div ul{
    display: flex;
    margin-right: 10px;
}

header div li{
    margin-left: 20px;
    list-style: none;
}

header div a{
    text-decoration: none;
    color: #fff;
    font-size: 0.6rem;
    line-height: 44px;
    font-weight: 700;
}

header div a:hover{
    text-decoration: underline;
}

header span{
    font-size: 0.7rem;
    font-weight: 400;
}

.welcome{
    position: relative;
    width:100% ;
}


.welcome div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 52.0075px;
    letter-spacing: 3.144px;
    /* font-weight: 500; */
    font-family: 'Roboto', sans-serif;
    /* font-variant: small-caps; */
}

.image-1-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.image-1-container::before{
    content: "";
    position: absolute;
    background-image: url(./images/myChoir.jpg);
    background-size: cover;
    background-position: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.95;
}

.container-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 260px;
    padding: 80px;
    line-height: 28.0001px;
    font-size: 0.8rem;
}

.container-1 div{
    line-height: 28.0001px;
    font-size: 1.5rem;
    letter-spacing: 0.216px;
    color: #1d1d1f;
    font-weight: bold;
}

.container-2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 490px;
}

.container-2::before{
    content: "";
    position: absolute;
    background-image: url(./images/church1.jpg);
    background-size: cover;
    background-position: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.container-2 button{
    position: relative;
    padding: 14px;
    background-color: #EC7211;
    color: #fff;
    border: none;
    outline: none;
    width: 130px;
    border-radius: 980px;
    font-size: 0.575rem;
}

.container-2 button:hover{
    color:#fff;
    background-color: #EB5F07;
    cursor: pointer;
}

.container-2 div{
    position: relative;
    line-height: 32.0001px;
    letter-spacing: 0.196px;
    font-size: 1.55rem;
    margin-bottom: 40px;
    color: #fff;
    font-weight: bold;
}

.container-2 p{
    position: relative;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
}

.container-3{
    height: 490px;
    /* border: 1px solid red; */
}

.container-3 h1{
display: flex;
align-items: center;
justify-content: center;
margin-top: 40px;
margin-bottom: 20px;
}

.container-3-cards{
    display: flex;
    align-items: center;
}

.container-3-cards div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 320px;
    margin: 10px;
    border-radius: 10px;
    font-size: 0.775rem;
    /* border: 1px solid #ccc; */
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.container-4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./images/church1.jpg);
    background-size: cover;
    background-position: center;
    height: 490px;
    color: #fff;
    line-height: 1.5;
}

.container-4 button{
    padding: 14px;
    background-color: #EC7211;/*#ff9900*/
    color: #fff;
    border: none;
    outline: none;
    border-radius: 980px;
    width: 257px;
    margin-top: 20px;
    font-size: 0.575rem;
}

.container-4 button:hover{
    color:#fff;
    background-color: #EB5F07;
    cursor: pointer;
}

.container-5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.container-5 h1{
    margin-top: 70px;
    margin-bottom: 40px;
}
.container-5-cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-5-cards button{
padding: 14px;
margin: 10px;
background-color: #EC7211;
color: #fff;
border: none;
outline: none;
font-size: 0.575rem;
border-radius: 980px;
width: 140px;
transition: .2s ease-out;
}

.container-5-cards button:hover{
    color:#fff;
    background-color: #EB5F07;
    cursor: pointer;
}

.container-5-cards div{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 370px;
width: 320px;
margin: 10px;
font-size: 0.775rem;
/* border: 1px solid #ccc; */
border-radius: 10px;
text-align: center;
box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.container-team {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 450px;
/* border: 1px solid red; */
}

.container-member{
    display: flex;
align-items: center;
justify-content: center;
margin: 2px;
}

.container-team .meet{
    margin-bottom: 30px;
    margin-top: 70px;
    font-size: xx-large;
    /* border: 1px solid red; */
}
.container-team .names{
    /* font-size: medium; */
    margin-top: 30px;
    /* border: 1px solid blue; */
}

.container-team .image-container{
    padding: 2px;
    /* border: 1px solid green; */
    margin: 10px;
}
.container-team .image-container .gent{
    height: 200px;
    border-radius: 50%;
    width: 200px;
    /* border: 1px solid blue; */
    /* box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1); */
    margin: 10px;
    background-image: url(./images/gentleman.jpg);
    background-position: center;
    background-size: cover;
}

.container-team .image-container .lady{
    height: 200px;
    border-radius: 50%;
    width: 200px;
    /* border: 1px solid blue; */
    /* box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1); */
    margin: 10px;
    background-image: url(./images/woman.jpg);
    background-position: center;
    background-size: cover;
}

.container-6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./images/church1.jpg);
    background-size: cover;
    background-position: center;
    height: 490px;
    color: #fff;
}

.btn-social{
    display: flex;
}

.btn-social button{
    margin: 10px;
    padding: 14px;
    font-size: 0.575rem;
    background-color: #EC7211;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 980px;
    width: 120px;
}

.btn-social button:hover{
    color:#fff;
    background-color: #EB5F07;
    cursor: pointer;
}

.container-7{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 100px;
font-size: 1.3rem;
}

.container-7 .verse{
    font-size: 1.0425rem;
}

.container-8{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(233, 229, 229);
}

.container-8 button{
margin-top: 20px;
margin-bottom: 20px;
padding: 14px;
background-color: #EC7211;
color: #fff;
border: none;
outline: none;
border-radius: 980px;
font-size: 0.575rem;
width: 120px;
}

.container-8 button:hover{
    color:#fff;
    background-color: #EB5F07;
    cursor: pointer;
}

.container-8 h2{
padding-top: 10px;
}
footer{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #f5f5f7;
}

footer div{
    width: 300px;
    height: 120px;
    color: #6e6e73;
    /* border: 1px solid red; */
    margin: 40px;
    font-size: 0.7rem;
    text-align: center;
}


.mySlides {display: none;}

/* img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

img{
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

@media only screen and (max-width: 720px){
    footer{
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 370px;
        /* margin-bottom: 20px; */
        /* background-color: #f5f5f7; */
    }
    footer div{
        width: 200px;
        height: 83px;
        margin-bottom: -10px;
        color: #6e6e73;
        /* border: 1px solid red; */
        /* margin: 40px; */
    }
    .container-5-cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .container-1{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 260px;
        padding: 80px;
        line-height: 28.0001px;
        font-size: 0.8rem;
        margin-bottom: 220px;
        margin-top: -60px;
    }
    .container-1 div{
        line-height: 28.0001px;
        font-size: 0.89rem;
        letter-spacing: 0.216px;
        color: #1d1d1f;
        font-weight: bold;
    }
    .container-3-cards div{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 160px;
        margin: 4px;
        border-radius: 10px;
        font-size: 0.775rem;
        /* border: 1px solid #ccc; */
        box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
    }
    .mySlides img{
        width: 400px;
        height: 400px;
    }
    .image-1-container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 400px;
    }
    .image-1-container::before{
        content: "";
        position: absolute;
        background-image: url(./images/myChoir.jpg);
        background-size: cover;
        background-position: center;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.95;
    }
    .product,.contact,.about{
        border: 1px solid blue;
        display: none;
    }
    .welcome div{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 1.7rem;
        line-height: 52.0075px;
        letter-spacing: 3.144px;
        /* font-weight: 500; */
        font-family: 'Roboto', sans-serif;
        /* font-variant: small-caps; */
    }
    .container-8 h2{
        font-size: large;
        padding-top: 10px;
        }
        .container-team .image-container .lady{
            height: 110px;
            border-radius: 50%;
            width: 110px;
            /* border: 1px solid blue; */
            /* box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1); */
            margin-left: 25px;
            background-image: url(./images/woman.jpg);
            background-position: center;
            background-size: cover;
        }
        .container-team .image-container .gent{
            height: 110px;
            border-radius: 50%;
            width: 110px;
            /* border: 1px solid blue; */
            /* box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1); */
            margin-left: 25px;
            background-image: url(./images/gentleman.jpg);
            background-position: center;
            background-size: cover;
        }
        .container-team .image-container{
            /* padding: 2px; */
            /* border: 1px solid green; */
            /* border: 1px solid red; */
            margin: 10px;
        }
        .container-3-cards{
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 420px;
            /* border: 1px solid red; */
        }
        .container-3-cards div{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100px;
            width: 250px;
            margin: 7px;
            padding: 3px;
            border-radius: 10px;
            font-size: 0.775rem;
            /* border: 1px solid #ccc; */
            box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
        }
    }

